body{
    background-color: #fad570;
}

h1{
    color:white;
    background-color:#ff8921 ;
}

#show_sketch{
    float:right;
}

canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name: colour_change;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes colour_change {
    from {box-shadow: 1px 1px 38px yellow;}
    to {box-shadow: 1px 1px 38px orange;}
}

p{
    padding-top: 10px;
    font-size: 25px;
}